.project {
  padding: 10px 10px 20px 10px;
  border-radius: 20px;
  background: $white-color;
  box-shadow: 0px 20px 20px 0px rgba(0, 63, 128, 0.05);

  &__info {
    padding: 0 10px;

    @media screen and (min-width: 1024px) {
      flex: 33.33%;
      padding: 0;
    } 

    @media screen and (min-width: 1024px) {
      flex: 28.5%;
    } 
  }

  &__img {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    
    & img{
      display: block;
      width: 100%;
    }

    @media screen and (min-width: 1024px) {
      flex: 66.66%;
      margin-bottom: 0;
    } 

    @media screen and (min-width: 1279px) {
      display: flex;
      max-height: 300px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  } 

  &__title {
    font-size: 24px;
    margin: 0 0 20px 0;
  } 

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;

    &-block {
      display: flex;
      align-items: center;
      gap: 10px;

      &-img, &-text {
        font-size: 16px;
      }

      &-img {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $primary-color;
        background: $primary-light-color;
        border-radius: 30px;
        padding: 5px 10px;
      }
    }
  }

  & .btn {
    width: 100%;
    border-radius: 10px;
    padding: 30px 0;
    gap: 25px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 46%;
  } 

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
  } 

  @media screen and (min-width: 1279px) {
    padding: 10px 40px 10px 10px;
  }
}