html, body {
  box-sizing: border-box;
}

body {
  background: $background-color;
  font-family: 'Montserrat', sans-serif;
  padding-top: $header-height;  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1;

  @media screen and (min-width: 480px) {
    padding: 0 calc(50% - 220px) 160px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 calc(50% - 384px) 160px;
  }

  @media screen and (min-width: 960px) {
    padding: 0 calc(50% - 460px) 160px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 calc(50% - 512px) 160px;
  }

  @media screen and (min-width: 1279px) {
    padding: 0 calc(50% - 640px) 200px;
  }
}