
$primary-light-color: #F2F9FF;
$primary-color: #007FFF;
$primary-dark: #002040;

$secondary-light: #F2F2F2;
$secondary-color: #BFBFBF;
$secondary-dark: #404040;

$white-color: #FFFFFF;
$effects-color: #007FFF;
$shadow-color: #003F80;
$background-color: #F9FCFF;
$success-color: #00BF5F;
$error-color: #FF4040;

$gradient-color: linear-gradient(180deg, #409FFF 0%, $primary-color 100%);
