.main {
  padding: 80px 20px;

  @media screen and (min-width: 768px) {
    padding: 80px calc(50% - 384px);
  }

  @media screen and (min-width: 1024px) {
    padding: 80px calc(50% - 512px);
  }

  @media screen and (min-width: 1281px) {
    padding: 120px calc(50% - 640px) 200px;
  }
}