.how-to-buy {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    gap: 20px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 0 40px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:last-child {
      & .how-to-buy__card {
        flex: 1;
        align-items: center;
      }

      & .how-to-buy__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &-title {
          margin: 0;
        }

        &-text {
          text-align: center;
        }
      }

      @media screen and (min-width: 1279px) {
        width: 35%;
      }
    }
    
    @media screen and (min-width: 768px) {
      align-items: center;
    }
    
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
    
    @media screen and (min-width: 1279px) {
      gap: 20px;
      width: 65%;
    }
  }

  &__card {
    display: flex;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
    background: $primary-light-color;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      width: 70%;
    }

    @media screen and (min-width: 1024px) {
      width: 100%;
    }
  }

  &__icon {
    background: $gradient-color;
    box-shadow: 0px -2px 0px 0px rgba(0, 32, 64, 0.10) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 10px 10px 0px rgba(0, 32, 64, 0.10);
    padding: 30px;
    border-radius: 50%;
    height: fit-content;
  }

  &__img {
    width: 30px;
  }

  &__description {
    &-title {
      margin: 0 0 10px;
      font-size: 24px;
      font-weight: 600;
    }

    &-text {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__phone {
    font-size: 24px;
    font-weight: 600;
  }

  & .btn {
    background: $gradient-color;
    color: $white-color;
    padding: 30px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 700;

    & img {
      display: none;
    }
  }

  &__phone {
    margin-bottom: 10px;
  }
}