.projects {
  &__title {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }  

    @media screen and (min-width: 960px) {
      gap: 30px;
    }

    @media screen and (min-width: 1279px) {
      gap: 40px;
    }
  }
}
