.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: $header-height;  
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  position: fixed;
  margin-top: -$header-height;
  left: 0;
  right: 0;
  z-index: 10;

  @media screen and (min-width: 1281px) {
    padding: 0 calc(50% - 640px);
  }

  &__logo img {
    display: block;
    margin: auto;
  }

  &__nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    background: $white-color;
    display: none;

    @media screen and (min-width: 1180px) {
      display: flex;
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      width: 68%;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;

    & .btn {
      padding-inline: 20px;
      font-size: 16px;
      font-weight: 600;
    }
    
    &-number {
      display: flex;
      flex-direction: column;
      align-items: center;

      & a {
        color: $primary-dark;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
      }

      & span {
        font-size: 14px;
        font-weight: 400;
      }
    }

    @media screen and (min-width: 1180px) {
      flex-direction: row;
      padding: 0;
      gap: 10px;
    }
  }

  & .btn {
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 600;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 40px 0;

    @media screen and (min-width: 1180px) {
      flex-direction: row;
      padding: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: $primary-dark;
    cursor: pointer;
  }
}

.menu-is-open {
  display: block;

  @media screen and (min-width: 1180px) {
    display: flex;
  }
}

#menu-btn {
  @media screen and (min-width: 1180px) {
    display: none;
  }
}

#phone-btn {
  @media screen and (min-width: 1180px) {
    padding: 10px;
    border-radius: 50%;
    width: fit-content;
  }

  & span {
    @media screen and (min-width: 1180px) {
      display: none;
    }
  }
}